main.world.mt-100
	+block_content(
		{
			spacing: 'mb-24',
			title: 'МИР HANRO',
			text: 'HANRO производит высококачественную повседневную, ночную одежду и одежду для отдыха для мужчин и женщин и является ведущим мировым брендом премиум-класса в своем сегменте. Компания была основана в 1884 году в швейцарском городе Листал Альбертом Хендскином и Карл Ронус и с тех пор выступает за роскошное преуменьшение, высочайшее качество и вневременной стиль. <br/> КАЧЕСТВО, КОТОРОЕ ВЫ МОЖЕТЕ ЧУВСТВОВАТЬ НА СВОЕЙ КОЖЕ',
		}
	).mb-100
	+block_content-under(
		'',
		'',
		false,
		{
			type: 'image',
			href: "#",
			img: `${baseDir}images/blocks/headingUnder_3_1.jpeg`,
			link_title: "О нас"
		},
		{
			type: 'image',
			href: "#",
			img: `${baseDir}images/blocks/headingUnder_3_2.jpeg`,
			link_title: "Карьера"
		},
	).mb-100
	+block_content-under(
		'',
		'',
		false,
		{
			type: 'image',
			href: "#",
			img: `${baseDir}images/blocks/headingUnder_4.jpeg`,
			link_title: "Пресса"
		}
	).mb-100

	+block_button-inside(
		{
			button: {
				name: 'Для нее',
				href: '#',
			},
			img: `${baseDir}images/blocks/buttonInside1.jpeg`
		},
		{
			button: {
				name: 'Для него',
				href: '#',
			},
			img: `${baseDir}images/blocks/buttonInside2.jpeg`
		},
	).mb-100

	+block_content-under(
		'С заботой о завтрашнем дне',
		'',
		true,
		{
			type: 'image',
			href: "#",
			text: 'Мы сами вяжем и красим большую часть тканей',
			img: `${baseDir}images/blocks/headingUnder_5_1.jpeg`,
			link_title: "Узнайте больше"
		},
		{
			type: 'image',
			href: "#",
			text: 'Мы используем только лучший хлопок высочайшего качества.',
			img: `${baseDir}images/blocks/headingUnder_5_2.jpeg`,
			link_title: "Узнайте больше"
		},
		{
			type: 'image',
			href: "#",
			text: '80% тканей производится на территории Австрии.',
			img: `${baseDir}images/blocks/headingUnder_5_3.jpeg`,
			link_title: "Узнайте больше"
		},
		{
			type: 'image',
			href: "#",
			text: 'Вся продукция сертифицирована по стандарту 100 BY OEKO-TEX®',
			img: `${baseDir}images/blocks/headingUnder_5_4.jpeg`,
			link_title: "Узнайте больше"
		},
	).mb-100

