main.collections.mt-50
	+breadcrumps(
		{
			title: 'Главная',
			href: '#'
		},
		{
			title: 'Для нее',
			href: '#'
		},
		{
			title: 'Подборки'
		},
	).mb-50

	+block_content(
		{
			title: 'заголовок страницы'
		}
	).mb-50(id="block1")

	+block_content-under(
		'',
		'',
		false,
		{
			type: 'image',
			href: "#",
			img: `${baseDir}images/blocks/labelUnder.jpeg`,
		}
	).mb-100

	+block_anchors(
		{
			title: 'Меню с якорными ссылками 1',
			href: '#block1'
		},
		{
			title: 'Ссылка 2',
			href: '#block2'
		},
		{
			title: 'Ссылка со свободным текстом 3',
			href: '#block3'
		},
		{
			title: 'Ссылка с заголовком блока 4',
			href: '#block4'
		},

	).mb-100

	+block_content(
		{
			spacing: 'mb-24',
			image: {
				href: '#',
				url: `${baseDir}images/blocks/contentImg.jpeg`,
			},
			title: 'заголовок 3. блок 3',
			text: 'Текстовый блок - пример: Осведомленность о качестве - это мышление, которое часто передается из поколения в поколение. Если бренд или продукт неизменно зависим и долговечен и соответствует или превосходит проницательным стандартам, доверие медленно укрепляется. Как только это доверие будет сформировано, мы сможем рекомендовать его следующему поколению. Таким образом, любовь к бренду также может передаваться из поколения в поколение. Некоторые вещи становятся семейными традициями - например, мать покупает дочери свой первый бюстгальтер от HANRO.',
			links: [
				{
					href: "#",
					title: 'Откройте для себя коллекцию'
				}
			]
		}
	).mb-100

	.container.mb-100.text-center.text-md-start
		.row
			.col-md-6
				h2.mb-16
					| Заголовок 3. Что делает
					br
					| хороший бюстгальтер?
				p
					| Текстовый блок может быть написан в 2 колонки или даже в 3 колонки. Бюстгальтер должен поддерживать естественную форму груди, не замечая, что она там есть. Помимо оптимальной посадки, хороший бюстгальтер должен иметь высококачественный, мягкий материал и отличное качество изготовления.
			.col.d-md-none.mb-50
			.col-md-6
				h2.mb-16
					| Как узнать, какой тип бюстгальтера мне больше всего подходит?
				p
					| Это зависит от материала и формы. Чтобы узнать, какой стиль подходит вам лучше всего, вам действительно нужно примерить их. Мы предлагаем широкий выбор стилей и материалов для удовлетворения различных требований, гарантируя, что каждая женщина сможет найти свой любимый бюстгальтер. Наши бюстгальтеры из натуральных материалов, таких как хлопок, особенно популярны, потому что их невероятно удобно носить.

	+block_quote(
		'Цитата, крупный текст: Нет машин, которые могли бы шить бюстгальтеры самостоятельно. Требуется опытные швеи, шить каждый бюстгальтер вручную'
	).mb-100

	+block_content-under(
		'',
		'',
		false,
		{
			type: 'image',
			href: "#",
			text: "Текстовый блок - Гораздо больше, чем просто камзол: высококачественная классика. Икона стиля с 1985 года.",
			img: `${baseDir}images/blocks/labelUnder_2_1.jpeg`,
			link_title: 'ОТКРОЙТЕ ДЛЯ СЕБЯ <br> [Наименование коллекции]'
		},
		{
			type: 'image',
			href: "#",
			text: "Текстовый блок - Гораздо больше, чем просто камзол: высококачественная классика. Икона стиля с 1985 года.",
			img: `${baseDir}images/blocks/labelUnder_2_2.jpeg`,
			link_title: 'блок может быть с ссылкой и без нее'
		},
	).mb-100

	+block_content-under(
		'',
		'',
		false,
		{
			type: 'image',
			href: "#",
			img: `${baseDir}images/blocks/headingUnder_3_1.jpeg`,
			text: 'Текстовый блок - Гораздо больше, чем просто камзол: высококачественная классика. Икона стиля с 1985 года.',
		},
		{
			type: 'image',
			href: "#",
			img: `${baseDir}images/blocks/headingUnder_3_2.jpeg`,
			text: 'Гораздо больше, чем просто рубашка бойфренда: уверенная в себе, универсальная, легендарная модная вещь.',
		},
		{
			type: 'image',
			href: "#",
			img: `${baseDir}images/blocks/headingUnder_3_3.jpeg`,
			text: 'Меньше значит больше: Роскошное преуменьшение благодаря высококачественным натуральным материалам и вневременному дизайну.',
		},
	).mb-100

	+block_content(
		{
			description: 'Заголовок 3',
			title: 'заголовок 2. блок 5'
		}
	).mb-50

	+block_content-aside_quote(
		'',
		{
			img: `${baseDir}images/blocks/contentAside.jpeg`,
			title: 'Заголовок 3',
			content_side: 'right',
			text: 'Текстовый блок круговой вязальной машины и создал совершенно новый опыт ношения. Нижнее белье из эластичных трикотажных тканей было абсолютной новинкой в 1884 году и особенно популярно среди современных женщин в Париже и Лондоне. С мягким трикотажным нижним бельем с двойной лентой HANRO освободила женщин от корсета и, таким образом, внесла фундаментальный вклад в эмансипацию.',
		},
	).mb-50

	+block_content-aside_quote(
		'',
		{
			img: `${baseDir}images/blocks/contentAside.jpeg`,
			title: 'Заголовок 3',
			content_side: 'right',
			quote: {
				text: 'Крупный текст, цитата: <br>' +
					'Classic boxer cut in soft, cuddly jersey fabric <br>' +
					'Made of 100% twisted, mercerized, smooth cotton yarn, which provides stability/tear resistance <br>' +
					'tSustainable and durable quality "Made in Austria"',
			},
			links: [
				{
					href: "#",
					title: 'Гиперссылка'
				}
			]
		},
	).mb-50

	+block_content-aside_quote(
		'',
		{
			img: `${baseDir}images/blocks/contentAside.jpeg`,
			title: 'Заголовок 3',
			content_side: 'left',
			text: 'Текстовый блок круговой вязальной машины и создал совершенно новый опыт ношения. Нижнее белье из эластичных трикотажных тканей было абсолютной новинкой в 1884 году и особенно популярно среди современных женщин в Париже и Лондоне. С мягким трикотажным нижним бельем с двойной лентой HANRO освободила женщин от корсета и, таким образом, внесла фундаментальный вклад в эмансипацию.',
		},
	).mb-50

	+block_content-aside_quote(
		'',
		{
			img: `${baseDir}images/blocks/contentAside.jpeg`,
			title: 'Заголовок 3',
			content_side: 'left',
			quote: {
				text: 'Крупный текст, цитата: <br>' +
					'Classic boxer cut in soft, cuddly jersey fabric <br>' +
					'Made of 100% twisted, mercerized, smooth cotton yarn, which provides stability/tear resistance <br>' +
					'tSustainable and durable quality "Made in Austria"',
			},
			links: [
				{
					href: "#",
					title: 'Гиперссылка'
				}
			]
		},
	).mb-100

	+block_content(
		{
			description: 'Заголовок 3',
			title: 'заголовок 2. 6-го блока'
		}
	).mb-50

	+block_content-under(
		'',
		'',
		false,
		{
			type: 'image',
			href: "#",
			img: `${baseDir}images/blocks/labelUnder_2_1.jpeg`,
			link_title: 'Еще такие блоки могут быть полностью кликабельны (фото+текст)'
		},
		{
			type: 'image',
			href: "#",
			img: `${baseDir}images/blocks/labelUnder_2_2.jpeg`,
			link_title: 'блок может быть с ссылкой и без нее'
		},
	).mb-50

	+block_content-under(
		'',
		'',
		false,
		{
			type: 'image',
			href: "#",
			img: `${baseDir}images/blocks/contentUnderCollection1.jpeg`,
			link_title: 'Еще такие блоки могут быть полностью кликабельны (фото+текст)'
		},
		{
			type: 'image',
			href: "#",
			img: `${baseDir}images/blocks/contentUnderCollection2.jpeg`,
			link_title: 'Еще такие блоки могут быть полностью кликабельны (фото+текст)'
		},
		{
			type: 'image',
			href: "#",
			img: `${baseDir}images/blocks/contentUnderCollection3.jpeg`
		},
	).mb-50

	+block_content-under(
		'',
		'',
		false,
		{
			type: 'image',
			href: "#",
			img: `${baseDir}images/blocks/contentUnderForHer9.jpeg`,
			link_title: "Узнайте больше",
			text: 'Свободный текст, может быть и в несколько строк, а может его и не быть'
		},
		{
			type: 'image',
			href: "#",
			img: `${baseDir}images/blocks/contentUnderForHer10.jpeg`,
			link_title: "Узнайте больше",
			text: 'Мы предлагаем широкий выбор стилей и материалов для различных форм тела.'
		},
		{
			type: 'image',
			href: "#",
			img: `${baseDir}images/blocks/contentUnderForHer11.jpeg`,
			link_title: "Узнайте больше",
			text: 'Свободный текст, может быть и в несколько строк, а может его и не быть'
		},
		{
			type: 'image',
			href: "#",
			img: `${baseDir}images/blocks/contentUnderForHer12.jpeg`,
			link_title: "Узнайте больше",
			text: 'Свободный текст, может быть и в несколько строк, а может его и не быть'
		},
	).mb-100

	+block_slider-products(
		'Утепленная коллекция блок 7',
		'Заголовок 3 (или карусель без заголовка и подзаголовка)',
		{
			href: '#',
			text: 'Смотреть всю утепленную коллекцию'
		},
		{
			brand: 'NATURAL Elegance',
			title: 'Пижама с длинным рукавом',
			href: '#',
			favorite: false,
			price: {
				actual: '10 500'
			},
			in_stock: true,
			img: `${baseDir}images/blocks/sliderProducts2.jpeg`,
		},
		{
			brand: 'URBAN CASUALS',
			title: 'РУБАШКА С КОРОТКИМ РУКАВОМ',
			href: '#',
			favorite: true,
			price: {
				actual: '24 500',
				sale: '29 870'
			},
			in_stock: true,
			tag: 'new',
			img: `${baseDir}images/blocks/sliderProducts1.jpeg`,
		},
		{
			brand: 'TOUCH FEELING',
			title: 'Майка',
			href: '#',
			favorite: false,
			price: {
				actual: '5 000'
			},
			in_stock: true,
			img: `${baseDir}images/blocks/sliderProducts3.jpeg`,
		},
		{
			brand: 'YOGA',
			title: 'топ с рукавом 3/4',
			href: '#',
			favorite: false,
			price: {
				actual: '7 500'
			},
			in_stock: true,
			img: `${baseDir}images/blocks/sliderProducts4.jpeg`,
		},
		{
			brand: 'NATURAL Elegance',
			title: 'Пижама с длинным рукавом',
			href: '#',
			favorite: false,
			price: {
				actual: '10 500'
			},
			in_stock: true,
			img: `${baseDir}images/blocks/sliderProducts2.jpeg`,
		},
	).mb-100

	.container.mb-100
		.row
			.col-md-4
				+lazyPicture({
					src: `${baseDir}images/blocks/contentUnderCollection1.jpeg`,
					alt: '',
				}).d-block.mb-24
			.col-md-4
				.h2.mb-8
					| БЛОК 8
				p.mb-24
					| Это всегда зависит от стиля бюстгальтера. Бюстгальтер с чашкой особенный, потому что вы должны найти подходящую чашку для него. Для нового бюстгальтера «Cotton Sensation» я посетил все европейские производители чашек на международной выставке в Париже и заказал несколько образцов. Затем мы смогли создать образцы и сшить чашки в бюстгальтеры, чтобы определить, какой из них подходит лучше всего. Эти макеты являются неполными прототипами, используемыми для оценки пригодности оболочки, что можно сделать только примерив ее.
				.h2.mb-8
					| 2. ФИТИНГ
				p.mb-24
					| Поскольку наша компания в основном состоит из женщин, ее легко установить внутри компании, так как мы все разного размера и формы. Оболочка бюстгальтера-футболки «Cotton Sensation» впечатлила нас с самого начала. Он имеет красивую круглую форму и слегка формирует грудь, не толкая ее вверх. Когда бюстгальтер примеряется, мы всегда надеваем на него футболку, чтобы увидеть, как фигура фигура и есть ли какие-либо щипки или выпуклость. Нам понравилось, как чашка формировала грудь, но общий разрез был не идеальным.
			.col-md-4
				p.mb-24
					| Поэтому нашему поставщику пришлось изготовить новую пресс-форму, которая занимает много времени и дорого. Пресс-форма вырезана из алюминия под компьютерным управлением и является инструментом, используемым для изготовления корпуса бюстгальтера.
				.h2.mb-8
					| 3. ОЦЕНКА
				p.mb-24
					| После того, как у нас был хорошо оборудованный прототип, мы могли бы начать с сортировки. Оценка - это разработка различных размеров.
				.h2.mb-8
					| 4. БОЛЬШЕ ФИТИНГОВ И ОБРАЗЦОВ
				p.mb-24
					| Также важно, чтобы мы примеряли каждый размер, например, 75C, был протестирован не только одной женщиной, но и несколькими.
				.text-wrap.mb-24
					| Каждая женщина уникальна, и, чтобы убедиться, что бюстгальтер подойдет как можно большему количеству, нам пришлось попробовать бюстгальтер на многих женщинах при разработке посадки.
				p.mb-24
					| Образцы бюстгальтера предоставляются женщинам для ношения и мытья бюстгальтера в течение четырех недель, после чего они дали свой личный отзыв. Результаты оцениваются и включаются в разработку продукта.


