main.favorites.mt-100
	.container
		.row.justify-content-sm-between
			.col-sm-auto.text-center.text-sm-start.mb-50
				h1
					| Избранное
			.col-sm-auto.text-center.text-sm-start.mb-50
				button.btn.btn-primary.btn-big.btn-xs-full
					| Поделиться избранным
	.container
		.row.row-cols-lg-4.row-cols-md-3.row-cols-2
			.mb-50
				+card({
					brand: 'LUCY',
					title: 'Бра с мягкой чашечной',
					href: '#',
					favorite: true,
					price: {
						actual: '24 500'
					},
					tag: 'new',
					in_stock: true,
					img: `${baseDir}images/pages/catalog/item1.jpeg`,
					selectProperty: [
						{
							name: 'Цвет',
							value: 'светло-пурпурный'
						}
					],
					sizes: [
						'XXS', 'XS', 'S', 'M', 'L', 'XL', 'XXL', 'XXXL'
					],
					showBtn: true
				})
			.mb-50
				+card({
					brand: 'LUCY',
					title: 'Бра с мягкой чашечной',
					href: '#',
					favorite: true,
					price: {
						actual: '24 500'
					},
					tag: 'sale',
					in_stock: true,
					img: `${baseDir}images/pages/catalog/item2.jpeg`,
					selectProperty: [
						{
							name: 'Цвет',
							value: 'светло-пурпурный'
						}
					],
					sizes: [
						'XXS', 'XS', 'S', 'M', 'L', 'XL', 'XXL', 'XXXL'
					],
					showBtn: true
				})
			.mb-50
				+card({
					brand: 'LUCY',
					title: 'Бра с мягкой чашечной',
					href: '#',
					favorite: true,
					price: {
						actual: '24 500'
					},
					in_stock: true,
					img: `${baseDir}images/pages/catalog/item3.jpeg`,
					selectProperty: [
						{
							name: 'Цвет',
							value: 'светло-пурпурный'
						}
					],
					sizes: [
						'XXS', 'XS', 'S', 'M', 'L', 'XL', 'XXL', 'XXXL'
					],
					showBtn: true
				})
			.mb-50
				+card({
					brand: 'LUCY',
					title: 'Бра с мягкой чашечной',
					href: '#',
					favorite: true,
					price: {
						actual: '24 500'
					},
					tag: 'sale',
					in_stock: true,
					img: `${baseDir}images/pages/catalog/item4.jpeg`,
					selectProperty: [
						{
							name: 'Цвет',
							value: 'светло-пурпурный'
						}
					],
					sizes: [
						'XXS', 'XS', 'S', 'M', 'L', 'XL', 'XXL', 'XXXL'
					],
					showBtn: true
				})
			.mb-50
				+card({
					brand: 'LUCY',
					title: 'Бра с мягкой чашечной',
					href: '#',
					favorite: true,
					price: {
						actual: '24 500'
					},
					tag: 'sale',
					in_stock: true,
					img: `${baseDir}images/pages/catalog/item5.jpeg`,
					selectProperty: [
						{
							name: 'Цвет',
							value: 'светло-пурпурный'
						}
					],
					sizes: [
						'XXS', 'XS', 'S', 'M', 'L', 'XL', 'XXL', 'XXXL'
					],
					showBtn: true
				})
			.mb-50
				+card({
					brand: 'LUCY',
					title: 'Бра с мягкой чашечной',
					href: '#',
					favorite: true,
					price: {
						actual: '24 500'
					},
					tag: 'new',
					in_stock: true,
					img: `${baseDir}images/pages/catalog/item1.jpeg`,
					selectProperty: [
						{
							name: 'Цвет',
							value: 'светло-пурпурный'
						}
					],
					sizes: [
						'XXS', 'XS', 'S', 'M', 'L', 'XL', 'XXL', 'XXXL'
					],
					showBtn: true
				})
			.mb-50
				+card({
					brand: 'LUCY',
					title: 'Бра с мягкой чашечной',
					href: '#',
					favorite: true,
					price: {
						actual: '24 500'
					},
					in_stock: true,
					img: `${baseDir}images/pages/catalog/item2.jpeg`,
					selectProperty: [
						{
							name: 'Цвет',
							value: 'светло-пурпурный'
						}
					],
					sizes: [
						'XXS', 'XS', 'S', 'M', 'L', 'XL', 'XXL', 'XXXL'
					],
					showBtn: true
				})
			.mb-50
				+card({
					brand: 'LUCY',
					title: 'Бра с мягкой чашечной',
					href: '#',
					favorite: true,
					price: {
						actual: '24 500'
					},
					tag: 'new',
					in_stock: true,
					img: `${baseDir}images/pages/catalog/item3.jpeg`,
					selectProperty: [
						{
							name: 'Цвет',
							value: 'светло-пурпурный'
						}
					],
					sizes: [
						'XXS', 'XS', 'S', 'M', 'L', 'XL', 'XXL', 'XXXL'
					],
					showBtn: true
				})
			.mb-50
				+card({
					brand: 'LUCY',
					title: 'Бра с мягкой чашечной',
					href: '#',
					favorite: true,
					price: {
						actual: '24 500'
					},
					tag: 'sale',
					in_stock: true,
					img: `${baseDir}images/pages/catalog/item4.jpeg`,
					selectProperty: [
						{
							name: 'Цвет',
							value: 'светло-пурпурный'
						}
					],
					sizes: [
						'XXS', 'XS', 'S', 'M', 'L', 'XL', 'XXL', 'XXXL'
					],
					showBtn: true
				})
			.mb-50
				+card({
					brand: 'LUCY',
					title: 'Бра с мягкой чашечной',
					href: '#',
					favorite: true,
					price: {
						actual: '24 500'
					},
					tag: 'sale',
					in_stock: true,
					img: `${baseDir}images/pages/catalog/item5.jpeg`,
					selectProperty: [
						{
							name: 'Цвет',
							value: 'светло-пурпурный'
						}
					],
					sizes: [
						'XXS', 'XS', 'S', 'M', 'L', 'XL', 'XXL', 'XXXL'
					],
					showBtn: true
				})
			.mb-50
				+card({
					brand: 'LUCY',
					title: 'Бра с мягкой чашечной',
					href: '#',
					favorite: true,
					price: {
						actual: '24 500'
					},
					in_stock: true,
					img: `${baseDir}images/pages/catalog/item1.jpeg`,
					selectProperty: [
						{
							name: 'Цвет',
							value: 'светло-пурпурный'
						}
					],
					sizes: [
						'XXS', 'XS', 'S', 'M', 'L', 'XL', 'XXL', 'XXXL'
					],
					showBtn: true
				})
			.mb-50
				+card({
					brand: 'LUCY',
					title: 'Бра с мягкой чашечной',
					href: '#',
					favorite: true,
					price: {
						actual: '24 500'
					},
					tag: 'sale',
					in_stock: true,
					img: `${baseDir}images/pages/catalog/item2.jpeg`,
					selectProperty: [
						{
							name: 'Цвет',
							value: 'светло-пурпурный'
						}
					],
					sizes: [
						'XXS', 'XS', 'S', 'M', 'L', 'XL', 'XXL', 'XXXL'
					],
					showBtn: true
				})
			.mb-50
				+card({
					brand: 'LUCY',
					title: 'Бра с мягкой чашечной',
					href: '#',
					favorite: true,
					price: {
						actual: '24 500'
					},
					tag: 'new',
					in_stock: true,
					img: `${baseDir}images/pages/catalog/item3.jpeg`,
					selectProperty: [
						{
							name: 'Цвет',
							value: 'светло-пурпурный'
						}
					],
					sizes: [
						'XXS', 'XS', 'S', 'M', 'L', 'XL', 'XXL', 'XXXL'
					],
					showBtn: true
				})
			.mb-50
				+card({
					brand: 'LUCY',
					title: 'Бра с мягкой чашечной',
					href: '#',
					favorite: true,
					price: {
						actual: '24 500'
					},
					tag: 'sale',
					in_stock: true,
					img: `${baseDir}images/pages/catalog/item4.jpeg`,
					selectProperty: [
						{
							name: 'Цвет',
							value: 'светло-пурпурный'
						}
					],
					sizes: [
						'XXS', 'XS', 'S', 'M', 'L', 'XL', 'XXL', 'XXXL'
					],
					showBtn: true
				})
			.mb-50
				+card({
					brand: 'LUCY',
					title: 'Бра с мягкой чашечной',
					href: '#',
					favorite: true,
					price: {
						actual: '24 500'
					},
					in_stock: true,
					img: `${baseDir}images/pages/catalog/item5.jpeg`,
					selectProperty: [
						{
							name: 'Цвет',
							value: 'светло-пурпурный'
						}
					],
					sizes: [
						'XXS', 'XS', 'S', 'M', 'L', 'XL', 'XXL', 'XXXL'
					],
					showBtn: true
				})
			.mb-50
				+card({
					brand: 'LUCY',
					title: 'Бра с мягкой чашечной',
					href: '#',
					favorite: true,
					price: {
						actual: '24 500'
					},
					tag: 'new',
					in_stock: true,
					img: `${baseDir}images/pages/catalog/item1.jpeg`,
					selectProperty: [
						{
							name: 'Цвет',
							value: 'светло-пурпурный'
						}
					],
					sizes: [
						'XXS', 'XS', 'S', 'M', 'L', 'XL', 'XXL', 'XXXL'
					],
					showBtn: true
				})
			.mb-50
				+card({
					brand: 'LUCY',
					title: 'Бра с мягкой чашечной',
					href: '#',
					favorite: true,
					price: {
						actual: '24 500'
					},
					tag: 'sale',
					in_stock: true,
					img: `${baseDir}images/pages/catalog/item2.jpeg`,
					selectProperty: [
						{
							name: 'Цвет',
							value: 'светло-пурпурный'
						}
					],
					sizes: [
						'XXS', 'XS', 'S', 'M', 'L', 'XL', 'XXL', 'XXXL'
					],
					showBtn: true
				})
			.mb-50
				+card({
					brand: 'LUCY',
					title: 'Бра с мягкой чашечной',
					href: '#',
					favorite: true,
					price: {
						actual: '24 500'
					},
					tag: 'new',
					in_stock: true,
					img: `${baseDir}images/pages/catalog/item3.jpeg`,
					selectProperty: [
						{
							name: 'Цвет',
							value: 'светло-пурпурный'
						}
					],
					sizes: [
						'XXS', 'XS', 'S', 'M', 'L', 'XL', 'XXL', 'XXXL'
					],
					showBtn: true
				})
			.mb-50
				+card({
					brand: 'LUCY',
					title: 'Бра с мягкой чашечной',
					href: '#',
					favorite: true,
					price: {
						actual: '24 500'
					},
					tag: 'sale',
					in_stock: true,
					img: `${baseDir}images/pages/catalog/item4.jpeg`,
					selectProperty: [
						{
							name: 'Цвет',
							value: 'светло-пурпурный'
						}
					],
					sizes: [
						'XXS', 'XS', 'S', 'M', 'L', 'XL', 'XXL', 'XXXL'
					],
					showBtn: true
				})
			.mb-50
				+card({
					brand: 'LUCY',
					title: 'Бра с мягкой чашечной',
					href: '#',
					favorite: true,
					price: {
						actual: '24 500'
					},
					tag: 'sale',
					in_stock: true,
					img: `${baseDir}images/pages/catalog/item5.jpeg`,
					selectProperty: [
						{
							name: 'Цвет',
							value: 'светло-пурпурный'
						}
					],
					sizes: [
						'XXS', 'XS', 'S', 'M', 'L', 'XL', 'XXL', 'XXXL'
					],
					showBtn: true
				})



