main.for-her.mt-100
	+block_content-under(
		'',
		'',
		false,
		{
			type: 'image',
			href: "#",
			heading: "[Наименование динамического раздела]",
			img: `${baseDir}images/blocks/contentUnderForHim1.jpeg`,
			headingType: 'h2'
		}
	).mb-100
	+block_content-aside(
		'',
		{
			img: `${baseDir}images/blocks/contentAside.jpeg`,
			description: 'Подарок',
			title: 'Идеальный подарок',
			text: 'Свободный текстовый блок, который может иметь разный размер текста. В нашем гиде есть что-то для каждого в вашем списке. Откройте для себя нашу подборку, волшебных идей подарков, которые порадуют ваших близких. ',
			content_side: 'right',
			links: [
				{
					href: "#",
					title: 'Подробнее'
				}
			]
		}
	).mb-100
	+block_content-aside(
		'',
		{
			img: `${baseDir}images/blocks/contentAside.jpeg`,
			description: 'Подарок',
			title: 'Идеальный подарок',
			text: 'Свободный текстовый блок, который может иметь разный размер текста. В нашем гиде есть что-то для каждого в вашем списке. Откройте для себя нашу подборку, волшебных идей подарков, которые порадуют ваших близких. ',
			content_side: 'left',
			links: [
				{
					href: "#",
					title: 'Подробнее'
				}
			]
		}
	).mb-100
	+block_content-under(
		'Новая коллекция',
		'Осень/Зима 2021',
		false,
		{
			type: 'image',
			href: "#",
			link_title: "Ночная одежда",
			img: `${baseDir}images/blocks/contentUnderForHim2.jpeg`
		},
		{
			type: 'image',
			href: "#",
			link_title: "Лаунж одежда",
			img: `${baseDir}images/blocks/contentUnderForHim3.jpeg`
		},
	).mb-50
	+block_content-under(
		'',
		'',
		false,
		{
			type: 'image',
			href: "#",
			link_title: "ТОПЫ И ШОРТЫ",
			img: `${baseDir}images/blocks/contentUnderForHim4.jpeg`
		},
		{
			type: 'image',
			href: "#",
			link_title: "Шорты, трусы, брюки",
			img: `${baseDir}images/blocks/contentUnderForHim5.jpeg`
		},
	).mb-50
	+block_content-under(
		'',
		'',
		false,
		{
			type: 'image',
			href: "#",
			link_title: "БАЗОВАЯ КОЛЛЕКЦИЯ",
			img: `${baseDir}images/blocks/contentUnderForHim6.jpeg`
		},
		{
			type: 'image',
			href: "#",
			link_title: "Утепленная коллекция",
			img: `${baseDir}images/blocks/contentUnderForHim7.jpeg`
		},
	).mb-100
	+block_slider-products(
		'Утепленная коллекция блок 7',
		'Заголовок 3 (или карусель без заголовка и подзаголовка)',
		{
			href: '#',
			text: 'Смотреть всю утепленную коллекцию'
		},
		{
			brand: 'Woolen Lace',
			title: 'Леггинсы',
			href: '#',
			favorite: false,
			price: {
				actual: '8 768'
			},
			in_stock: true,
			img: `${baseDir}images/blocks/sliderProductsForhim1.jpeg`,
		},
		{
			brand: 'Woolen Lace',
			title: 'Водолазка с длинным воротом',
			href: '#',
			favorite: true,
			price: {
				actual: '5 768'
			},
			in_stock: true,
			tag: 'new',
			img: `${baseDir}images/blocks/sliderProductsForhim2.jpeg`,
		},
		{
			brand: 'Woolen Lace',
			title: 'Длинные брюки',
			href: '#',
			favorite: false,
			price: {
				actual: '10 768'
			},
			in_stock: true,
			img: `${baseDir}images/blocks/sliderProductsForhim3.jpeg`,
		},
		{
			brand: 'Tessa',
			title: 'Кружевная рубашка с длинным рукавом',
			href: '#',
			favorite: false,
			price: {
				actual: '12 678'
			},
			in_stock: true,
			img: `${baseDir}images/blocks/sliderProductsForhim4.jpeg`,
		},
		{
			brand: 'Woolen Lace',
			title: 'Леггинсы',
			href: '#',
			favorite: false,
			price: {
				actual: '8 768'
			},
			in_stock: true,
			img: `${baseDir}images/blocks/sliderProductsForhim1.jpeg`,
		},
	).mb-100

	+block_content(
		{
			spacing: 'mb-24',
			image: {
				href: '#',
				url: `${baseDir}images/blocks/contentImg.jpeg`,
			},
			title: 'История поколений',
			text: 'Наши обещания из прошлого по-прежнему являются движущей силой бренда сегодня. Мы демонстрируем это каждый день с нашей преданностью каждой детали и нашим стремлением создать устойчивое нижнее белье премиум-класса из натуральных материалов в вневременном дизайне. Вот как мы создаем иконы нижнего белья с культовым статусом.',
			links: [
				{
					href: "#",
					title: 'Откройте для себя коллекцию'
				}
			]
		}
	).mb-50

	+block_content-under(
		'',
		'',
		false,
		{
			type: 'image',
			href: "#",
			img: `${baseDir}images/blocks/headingUnder_3_1.jpeg`,
			link_title: "Гиперссылка на подборку",
			text: 'Гораздо больше, чем просто камзол: высококачественная классика. Икона стиля с 1985 года.'
		},
		{
			type: 'image',
			href: "#",
			img: `${baseDir}images/blocks/headingUnder_3_2.jpeg`,
			link_title: "откройте Коллекцию Grand Central",
			text: 'Гораздо больше, чем просто рубашка бойфренда: уверенная в себе, универсальная, легендарная модная вещь.'
		},
		{
			type: 'image',
			href: "#",
			img: `${baseDir}images/blocks/headingUnder_3_3.jpeg`,
			link_title: "Коллекция Design Classics для него",
			text: 'Меньше значит больше: Роскошное преуменьшение благодаря высококачественным натуральным материалам и вневременному дизайну.'
		},
	).mb-100

	+block_content-aside_quote(
		'Пример заголовка',
		{
			img: `${baseDir}images/blocks/contentAsideQuote2.jpeg`,
			title: 'Текст текст текст',
			content_side: 'right',
			text: 'Пример Пример текстового Пример текстового блока Пример текстового блока Пример текстового блока Пример текстового блока Пример текстового блока Пример текстового блока ',
			quote: {
				text: '“Пример цитаты - Нет машин, которые могли бы шить бюстгальтеры самостоятельно. Требуется опытные швеи, шить каждый бюстгальтер вручную”.',
				author: 'Пример подписи'
			},
			links: [
				{
					href: "#",
					title: 'УЗНАТЬ БОЛЬШЕ'
				}
			]
		},
	).mb-100

	+block_content-under(
		'',
		'',
		false,
		{
			heading: 'Заголовок блока',
			headingType: 'h3',
			type: 'image',
			href: "#",
			img: `${baseDir}images/blocks/contentUnderForHim8.jpeg`,
			link_title: "Узнайте больше",
			text: 'Опционный описательный текст на любую тему раздела “Для него”'
		},
		{
			heading: 'Заголовок блока',
			headingType: 'h3',
			type: 'image',
			href: "#",
			img: `${baseDir}images/blocks/contentUnderForHim9.jpeg`,
			link_title: "Узнайте больше",
			text: 'Опционный описательный текст на любую тему раздела “Для него”'
		},
		{
			heading: 'Правильный Размер',
			headingType: 'h3',
			type: 'image',
			href: "#",
			img: `${baseDir}images/blocks/contentUnderForHim10.jpeg`,
			link_title: "Узнайте больше",
			text: 'Опционный описательный текст на любую тему раздела “Для него”'
		},
		{
			heading: 'Идеальная Посадка',
			headingType: 'h3',
			type: 'image',
			href: "#",
			img: `${baseDir}images/blocks/contentUnderForHim11.jpeg`,
			link_title: "Узнайте больше",
			text: 'При идеальной посадке вы должны чувствовать себя так, будто вы даже не носите бюстгальтер.'
		},
	).mb-100

	+block_callback(
		{
			img: `${baseDir}images/blocks/callback.jpeg`,
			title: 'Погрузиться в мир Hanro',
			text: 'Подпишитесь на рассылку и первыми получайте новости о Hanro, информацию о модных трендах, новых коллекциях и специальных предложениях.',
		}
	).mb-100.pt-100.pb-100(style="background: #A1AFB733")

	+block_content-under(
		'С заботой о завтрашнем дне',
		'',
		true,
		{
			type: 'image',
			href: "#",
			text: 'Мы сами вяжем и красим большую часть тканей',
			img: `${baseDir}images/blocks/headingUnder_5_1.jpeg`,
			link_title: "Узнайте больше"
		},
		{
			type: 'image',
			href: "#",
			text: 'Мы используем только лучший хлопок высочайшего качества.',
			img: `${baseDir}images/blocks/headingUnder_5_2.jpeg`,
			link_title: "Узнайте больше"
		},
		{
			type: 'image',
			href: "#",
			text: '80% тканей производится на территории Австрии.',
			img: `${baseDir}images/blocks/headingUnder_5_3.jpeg`,
			link_title: "Узнайте больше"
		},
		{
			type: 'image',
			href: "#",
			text: 'Вся продукция сертифицирована по стандарту 100 BY OEKO-TEX®',
			img: `${baseDir}images/blocks/headingUnder_5_4.jpeg`,
			link_title: "Узнайте больше"
		},
	).mb-100
