main.for-her.mt-100
	+block_content-under(
		'',
		'',
		false,
		{
			type: 'image',
			href: "#",
			heading: "[Наименование динамического раздела]",
			img: `${baseDir}images/blocks/contentUnderForHer1.jpeg`,
			headingType: 'h2'
		}
	).mb-100
	+block_content-aside(
		'',
		{
			img: `${baseDir}images/blocks/contentAside.jpeg`,
			description: 'Подарок',
			title: 'Идеальный подарок',
			text: 'Свободный текстовый блок, который может иметь разный размер текста. В нашем гиде есть что-то для каждого в вашем списке. Откройте для себя нашу подборку, волшебных идей подарков, которые порадуют ваших близких. ',
			content_side: 'right',
			links: [
				{
					href: "#",
					title: 'Подробнее'
				}
			]
		}
	).mb-100
	+block_content-aside(
		'',
		{
			img: `${baseDir}images/blocks/contentAside.jpeg`,
			description: 'Подарок',
			title: 'Идеальный подарок',
			text: 'Свободный текстовый блок, который может иметь разный размер текста. В нашем гиде есть что-то для каждого в вашем списке. Откройте для себя нашу подборку, волшебных идей подарков, которые порадуют ваших близких. ',
			content_side: 'left',
			links: [
				{
					href: "#",
					title: 'Подробнее'
				}
			]
		}
	).mb-100
	+block_content-under(
		'Новая коллекция',
		'Осень/Зима 2021',
		false,
		{
			type: 'image',
			href: "#",
			link_title: "Ночная одежда",
			img: `${baseDir}images/blocks/contentUnderForHer2.jpeg`
		},
		{
			type: 'image',
			href: "#",
			link_title: "Лаунж одежда",
			img: `${baseDir}images/blocks/contentUnderForHer3.jpeg`
		},
	).mb-50
	+block_content-under(
		'',
		'',
		false,
		{
			type: 'image',
			href: "#",
			link_title: "ТОПЫ И ШОРТЫ",
			img: `${baseDir}images/blocks/contentUnderForHer4.jpeg`
		},
		{
			type: 'image',
			href: "#",
			link_title: "Бюстгальтеры",
			img: `${baseDir}images/blocks/contentUnderForHer5.jpeg`
		},
		{
			type: 'image',
			href: "#",
			link_title: "ТРУСЫ",
			img: `${baseDir}images/blocks/contentUnderForHer6.jpeg`
		},
	).mb-50
	+block_content-under(
		'',
		'',
		false,
		{
			type: 'image',
			href: "#",
			link_title: "БАЗОВАЯ КОЛЛЕКЦИЯ",
			img: `${baseDir}images/blocks/contentUnderForHer7.jpeg`
		},
		{
			type: 'image',
			href: "#",
			link_title: "Утепленная коллекция",
			img: `${baseDir}images/blocks/contentUnderForHer8.jpeg`
		},
	).mb-100


