main.search.mt-50
	.container.text-center.mb-24
		.h2
			| Результаты поиска  «Бра»
	+breadcrumps(
		{
			title: 'Главная',
			href: '#'
		},
		{
			title: '“БРА”'
		}
	).mb-100
	.container.mb-50
		.search__queries
			.search__queries-title.mb-16
				| Связанные поисковые запросы
			.search__queries-list
				a.search__queries-list--item
					| Топ Бра
				a.search__queries-list--item
					| Хлопковые бра
				a.search__queries-list--item
					| Бра и трусы
				a.search__queries-list--item
					| Бюстгалтер бралет
	.container
		.row.row-cols-lg-4.row-cols-md-3.row-cols-2
			.mb-50
				+card({
					brand: 'LUCY',
					title: 'Бра с мягкой чашечной',
					href: '#',
					favorite: false,
					price: {
						actual: '24 500'
					},
					tag: 'new',
					in_stock: true,
					img: `${baseDir}images/pages/catalog/item1.jpeg`,
					colors: [
						'#B1ACC6', '#D4ADAD', '#AAD7AC', '#FFFFFF', '#37577C', '#FF3838', '#46742A', '#E9D193',
						'#F8F9E0', '#4F2D2D', '#E3D4F1', '#FFE1E3', '#BFA0FF', '#CAE2D7', '#FFF9F9', '#6D6AFA',
						'#97258B', '#97F6FC', '#16009A', '#000000'
					]
				})
			.mb-50
				+card({
					brand: 'LUCY',
					title: 'Бра с мягкой чашечной',
					href: '#',
					favorite: false,
					price: {
						actual: '24 500'
					},
					in_stock: true,
					img: `${baseDir}images/pages/catalog/item2.jpeg`,
					colors: [
						'#7C4470', '#F4BDBD', '#EBF4DF', '#97258B'
					]
				})
			.mb-50
				+card({
					brand: 'LUCY',
					title: 'Бра с мягкой чашечной',
					href: '#',
					favorite: false,
					in_stock: false,
					img: `${baseDir}images/pages/catalog/item3.jpeg`,
				})
			.mb-50
				+card({
					brand: 'LUCY',
					title: 'Бра с мягкой чашечной',
					href: '#',
					favorite: false,
					price: {
						actual: '24 500'
					},
					in_stock: true,
					tag: 'new',
					img: `${baseDir}images/pages/catalog/item4.jpeg`,
					colors: [
						'#F8F9E0', '#4F2D2D', '#E3D4F1', '#FFE1E3', '#BFA0FF', '#CAE2D7', '#FFF9F9', '#6D6AFA',
						'#97258B', '#97F6FC', '#16009A'
					]
				})
			.mb-50
				+card({
					brand: 'LUCY',
					title: 'Бра с мягкой чашечной',
					href: '#',
					favorite: true,
					price: {
						actual: '24 500'
					},
					in_stock: true,
					tag: 'new',
					img: `${baseDir}images/pages/catalog/item5.jpeg`,
					colors: [
						'#7C4470', '#F4BDBD', '#EBF4DF'
					]
				})
			.mb-50
				+card({
					brand: 'LUCY',
					title: 'Бра с мягкой чашечной',
					href: '#',
					favorite: false,
					price: {
						actual: '24 500'
					},
					tag: 'new',
					in_stock: true,
					img: `${baseDir}images/pages/catalog/item1.jpeg`,
					colors: [
						'#B1ACC6', '#D4ADAD', '#AAD7AC', '#FFFFFF', '#37577C', '#FF3838', '#46742A', '#E9D193',
						'#F8F9E0', '#4F2D2D', '#E3D4F1', '#FFE1E3', '#BFA0FF', '#CAE2D7', '#FFF9F9', '#6D6AFA',
						'#97258B', '#97F6FC', '#16009A', '#000000'
					]
				})
			.mb-50
				+card({
					brand: 'LUCY',
					title: 'Бра с мягкой чашечной',
					href: '#',
					favorite: false,
					price: {
						actual: '24 500'
					},
					in_stock: true,
					img: `${baseDir}images/pages/catalog/item2.jpeg`,
					colors: [
						'#7C4470', '#F4BDBD', '#EBF4DF', '#97258B'
					]
				})
			.mb-50
				+card({
					brand: 'LUCY',
					title: 'Бра с мягкой чашечной',
					href: '#',
					favorite: false,
					in_stock: false,
					img: `${baseDir}images/pages/catalog/item3.jpeg`,
				})
			.mb-50
				+card({
					brand: 'LUCY',
					title: 'Бра с мягкой чашечной',
					href: '#',
					favorite: false,
					price: {
						actual: '24 500'
					},
					in_stock: true,
					tag: 'new',
					img: `${baseDir}images/pages/catalog/item4.jpeg`,
					colors: [
						'#F8F9E0', '#4F2D2D', '#E3D4F1', '#FFE1E3', '#BFA0FF', '#CAE2D7', '#FFF9F9', '#6D6AFA',
						'#97258B', '#97F6FC', '#16009A'
					]
				})
			.mb-50
				+card({
					brand: 'LUCY',
					title: 'Бра с мягкой чашечной',
					href: '#',
					favorite: true,
					price: {
						actual: '24 500'
					},
					in_stock: true,
					tag: 'new',
					img: `${baseDir}images/pages/catalog/item5.jpeg`,
					colors: [
						'#7C4470', '#F4BDBD', '#EBF4DF'
					]
				})
			.mb-50
				+card({
					brand: 'LUCY',
					title: 'Бра с мягкой чашечной',
					href: '#',
					favorite: false,
					price: {
						actual: '24 500'
					},
					tag: 'new',
					in_stock: true,
					img: `${baseDir}images/pages/catalog/item1.jpeg`,
					colors: [
						'#B1ACC6', '#D4ADAD', '#AAD7AC', '#FFFFFF', '#37577C', '#FF3838', '#46742A', '#E9D193',
						'#F8F9E0', '#4F2D2D', '#E3D4F1', '#FFE1E3', '#BFA0FF', '#CAE2D7', '#FFF9F9', '#6D6AFA',
						'#97258B', '#97F6FC', '#16009A', '#000000'
					]
				})
			.mb-50
				+card({
					brand: 'LUCY',
					title: 'Бра с мягкой чашечной',
					href: '#',
					favorite: false,
					price: {
						actual: '24 500'
					},
					in_stock: true,
					img: `${baseDir}images/pages/catalog/item2.jpeg`,
					colors: [
						'#7C4470', '#F4BDBD', '#EBF4DF', '#97258B'
					]
				})
			.mb-50
				+card({
					brand: 'LUCY',
					title: 'Бра с мягкой чашечной',
					href: '#',
					favorite: false,
					in_stock: false,
					img: `${baseDir}images/pages/catalog/item3.jpeg`,
				})
			.mb-50
				+card({
					brand: 'LUCY',
					title: 'Бра с мягкой чашечной',
					href: '#',
					favorite: false,
					price: {
						actual: '24 500'
					},
					in_stock: true,
					tag: 'new',
					img: `${baseDir}images/pages/catalog/item4.jpeg`,
					colors: [
						'#F8F9E0', '#4F2D2D', '#E3D4F1', '#FFE1E3', '#BFA0FF', '#CAE2D7', '#FFF9F9', '#6D6AFA',
						'#97258B', '#97F6FC', '#16009A'
					]
				})
			.mb-50
				+card({
					brand: 'LUCY',
					title: 'Бра с мягкой чашечной',
					href: '#',
					favorite: true,
					price: {
						actual: '24 500'
					},
					in_stock: true,
					tag: 'new',
					img: `${baseDir}images/pages/catalog/item5.jpeg`,
					colors: [
						'#7C4470', '#F4BDBD', '#EBF4DF'
					]
				})
			.mb-50
				+card({
					brand: 'LUCY',
					title: 'Бра с мягкой чашечной',
					href: '#',
					favorite: false,
					price: {
						actual: '24 500'
					},
					tag: 'new',
					in_stock: true,
					img: `${baseDir}images/pages/catalog/item1.jpeg`,
					colors: [
						'#B1ACC6', '#D4ADAD', '#AAD7AC', '#FFFFFF', '#37577C', '#FF3838', '#46742A', '#E9D193',
						'#F8F9E0', '#4F2D2D', '#E3D4F1', '#FFE1E3', '#BFA0FF', '#CAE2D7', '#FFF9F9', '#6D6AFA',
						'#97258B', '#97F6FC', '#16009A', '#000000'
					]
				})
			.mb-50
				+card({
					brand: 'LUCY',
					title: 'Бра с мягкой чашечной',
					href: '#',
					favorite: false,
					price: {
						actual: '24 500'
					},
					in_stock: true,
					img: `${baseDir}images/pages/catalog/item2.jpeg`,
					colors: [
						'#7C4470', '#F4BDBD', '#EBF4DF', '#97258B'
					]
				})
			.mb-50
				+card({
					brand: 'LUCY',
					title: 'Бра с мягкой чашечной',
					href: '#',
					favorite: false,
					in_stock: false,
					img: `${baseDir}images/pages/catalog/item3.jpeg`,
				})
			.mb-50
				+card({
					brand: 'LUCY',
					title: 'Бра с мягкой чашечной',
					href: '#',
					favorite: false,
					price: {
						actual: '24 500'
					},
					in_stock: true,
					tag: 'new',
					img: `${baseDir}images/pages/catalog/item4.jpeg`,
					colors: [
						'#F8F9E0', '#4F2D2D', '#E3D4F1', '#FFE1E3', '#BFA0FF', '#CAE2D7', '#FFF9F9', '#6D6AFA',
						'#97258B', '#97F6FC', '#16009A'
					]
				})
			.mb-50
				+card({
					brand: 'LUCY',
					title: 'Бра с мягкой чашечной',
					href: '#',
					favorite: true,
					price: {
						actual: '24 500'
					},
					in_stock: true,
					tag: 'new',
					img: `${baseDir}images/pages/catalog/item5.jpeg`,
					colors: [
						'#7C4470', '#F4BDBD', '#EBF4DF'
					]
				})
			.mb-50
				+card({
					brand: 'LUCY',
					title: 'Бра с мягкой чашечной',
					href: '#',
					favorite: false,
					price: {
						actual: '24 500'
					},
					tag: 'new',
					in_stock: true,
					img: `${baseDir}images/pages/catalog/item1.jpeg`,
					colors: [
						'#B1ACC6', '#D4ADAD', '#AAD7AC', '#FFFFFF', '#37577C', '#FF3838', '#46742A', '#E9D193',
						'#F8F9E0', '#4F2D2D', '#E3D4F1', '#FFE1E3', '#BFA0FF', '#CAE2D7', '#FFF9F9', '#6D6AFA',
						'#97258B', '#97F6FC', '#16009A', '#000000'
					]
				})
			.mb-50
				+card({
					brand: 'LUCY',
					title: 'Бра с мягкой чашечной',
					href: '#',
					favorite: false,
					price: {
						actual: '24 500'
					},
					in_stock: true,
					img: `${baseDir}images/pages/catalog/item2.jpeg`,
					colors: [
						'#7C4470', '#F4BDBD', '#EBF4DF', '#97258B'
					]
				})
			.mb-50
				+card({
					brand: 'LUCY',
					title: 'Бра с мягкой чашечной',
					href: '#',
					favorite: false,
					in_stock: false,
					img: `${baseDir}images/pages/catalog/item3.jpeg`,
				})
			.mb-50
				+card({
					brand: 'LUCY',
					title: 'Бра с мягкой чашечной',
					href: '#',
					favorite: false,
					price: {
						actual: '24 500'
					},
					in_stock: true,
					tag: 'new',
					img: `${baseDir}images/pages/catalog/item4.jpeg`,
					colors: [
						'#F8F9E0', '#4F2D2D', '#E3D4F1', '#FFE1E3', '#BFA0FF', '#CAE2D7', '#FFF9F9', '#6D6AFA',
						'#97258B', '#97F6FC', '#16009A'
					]
				})

		include  ../components/pagination


