mixin block_content-aside_quote(title, ...items)
	div.block_content-aside&attributes(attributes)
		.container
			if title
				.block_content-aside--title.h1.mb-24
					| !{title}
			each item in items
				.block_content-aside__item
					.row.align-items-sm-center
						if item.content_side === 'right'
							.col-md-6
								+lazyPicture({
									src: item.img,
									alt: `${item.title} - изображение`,
								}).block_content-aside__item-img.d-none.d-md-block
							.col-md-6
								.block_content
									if item.title
										.block_content-title.h2.mb-16
											| !{item.title}
									.d-md-none.mb-24
										+lazyPicture({
											src: item.img,
											alt: `${item.title} - изображение`,
										}).block_content-aside__item-img
									if item.text
										.block_content-text.mb-50
											| !{item.text}
									if item.quote
										.block_content-quote.mb-50
											if item.quote.text
												.block_content-quote--text.h3.mb-16
													| !{item.quote.text}
											if item.quote.author
												.block_content-quote--author
													| !{item.quote.author}

									if item.links
										.block_content__links
											each link in item.links
												.block_content__links-item
													a(href=link.href).btn.btn-secondary.btn-small
														span
															| !{link.title}
						else if item.content_side === 'left'
							.col-md-6
								.block_content
									if item.title
										.block_content-title.h2.mb-16
											| !{item.title}
									.d-md-none.mb-24
										+lazyPicture({
											src: item.img,
											alt: `${item.title} - изображение`,
										}).block_content-aside__item-img
									if item.text
										.block_content-text.mb-50
											| !{item.text}
									if item.quote
										.block_content-quote.mb-50
											if item.quote.text
												.block_content-quote--text.h3.mb-16
													| !{item.quote.text}
											if item.quote.author
												.block_content-quote--author
													| !{item.quote.author}
									if item.links
										.block_content__links
											each link in item.links
												.block_content__links-item
													a(href=link.href).btn.btn-secondary.btn-small
														span
															| !{link.title}
							.col-md-6.d-none.d-md-block
								+lazyPicture({
									src: item.img,
									alt: `${item.title} - изображение`,
								}).block_content-aside__item-img
