mixin block_content-aside(title, ...items)
	div.block_content-aside&attributes(attributes)
		.container
			if title
				.block_content-aside--title.h1.mb-24
					| !{title}
			each item in items
				.block_content-aside__item
					.row.align-items-sm-center
						if item.content_side === 'right'
							.col-md-6.d-none.d-md-block
								+lazyPicture({
									src: item.img,
									alt: `${item.title} - изображение`,
								}).block_content-aside__item-img
							.col-md-6
								.block_content
									if item.description
										.block_content-description.h3.mb-8
											| !{item.description}
									if item.title
										if item.titleType === 'h2'
											.block_content-title.h2(class=`${item.spacing ? item.spacing : 'mb-24'}`)
												| !{item.title}
										else if item.titleType === 'big-text'
											.block_content-title.big-text(class=`${item.spacing ? item.spacing : 'mb-24'}`)
												| !{item.title}
										else
											.block_content-title.h1(class=`${item.spacing ? item.spacing : 'mb-24'}`)
												| !{item.title}
									.d-md-none(class=`${item.spacing ? item.spacing : 'mb-24'}`)
										+lazyPicture({
											src: item.img,
											alt: `${item.title} - изображение`,
										}).block_content-aside__item-img

									if item.text
										.block_content-text(class=`${item.spacing ? item.spacing : 'mb-24'}`)
											| !{item.text}

									if item.linkBeforeSep
										div.block_content__separated(class=`${item.spacing ? item.spacing : 'mb-24'}`)

									if item.links
										.block_content__links
											each link in item.links
												.block_content__links-item
													a(href=link.href).btn.btn-secondary.btn-small
														span
															| !{link.title}
						else if item.content_side === 'left'
							.col-md-6
								.block_content
									if item.description
										.block_content-description.h3.mb-8
											| !{item.description}
									if item.title
										if item.titleType === 'h2'
											.block_content-title.h2(class=`${item.spacing ? item.spacing : 'mb-24'}`)
												| !{item.title}
										else if item.titleType === 'big-text'
											.block_content-title.big-text(class=`${item.spacing ? item.spacing : 'mb-24'}`)
												| !{item.title}
										else
											.block_content-title.h1(class=`${item.spacing ? item.spacing : 'mb-24'}`)
												| !{item.title}
									.d-md-none(class=`${item.spacing ? item.spacing : 'mb-24'}`)
										+lazyPicture({
											src: item.img,
											alt: `${item.title} - изображение`,
										}).block_content-aside__item-img

									if item.text
										.block_content-text(class=`${item.spacing ? item.spacing : 'mb-24'}`)
											| !{item.text}

									if item.linkBeforeSep
										div.block_content__separated(class=`${item.spacing ? item.spacing : 'mb-24'}`)

									if item.links
										.block_content__links
											each link in item.links
												.block_content__links-item
													a(href=link.href).btn.btn-secondary.btn-small
														span
															| !{link.title}
							.col-md-6.d-none.d-md-block
								+lazyPicture({
									src: item.img,
									alt: `${item.title} - изображение`,
								}).block_content-aside__item-img
